@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color0: #386573;
  --color1: #4E9C8F;
  --color2: #D97F37;
  --color3: #ECB126;
  --color4: #FBE67E;
}

html,
body
 {
  height: 100%;
}



